/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication3_a/nbproject/private/
/WebApplication3_a/build/
/WebApplication3_b/nbproject/private/
/WebApplication3_b/build/
/WebApplication3_c/nbproject/private/
/WebApplication3_c/build/
/WebApplication3_d/nbproject/private/
/WebApplication3_d/build/
/WebApplication4/nbproject/private/
/WebApplication4/build/
/WebApplication4_a/nbproject/private/
/WebApplication4_a/build/
/WebApplication4_c/nbproject/private/
/WebApplication4_c/build/
/WebApplication5_a/nbproject/private/
/WebApplication5_a/build/
/WebApplication6/nbproject/private/
/WebApplication6/build/
/WebApplication7_JSP_a/nbproject/private/
/WebApplication7_JSP_a/build/
/WebApplication07_JSP_b/nbproject/private/
/WebApplication07_JSP_b/build/
/WebApplication8/nbproject/private/
/WebApplication8/build/
/WebApplication8/dist/
/WebApplication9/nbproject/private/
/WebApplication9/build/
/Demoweb/nbproject/private/
/Demoweb/build/
/WebApplication10/nbproject/private/
/WebApplication10/build/
/WebApplication11/nbproject/private/
/WebApplication11/build/
/Workshop1_PRJ301/nbproject/private/
/Workshop1_PRJ/nbproject/private/
/Workshop1_PRJ/build/
/WebApplication13/nbproject/private/
/WebApplication13/build/
/WebApplication14/nbproject/private/
/WebApplication14/build/
/WebApplication15/nbproject/private/
/WebApplication15/build/
/workshop2_se1820/nbproject/private/
/workshop2_se1820/build/